<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [25]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# antes de empezar vamos a leer los datos
df = pd.read_csv("datos/netflix_titles_originales_merge.csv", index_col=0)
df.head(1)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [ ]:
df_filter_1 = df["release_year"] == 2021
df_filter_1A = df["type"] == "Movie"

df_1 = df[df_filter_1 & df_filter_1A]

df_1.shape[0]

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [62]:
df_filter_2 = df["duration"] == "90 min"

df_2 = df[["title","duration"]][df_filter_2].reset_index()

df_2.shape[0]

152

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [61]:
df_filter_3 = df["release_year"] > 2018
df_filter_3a = df["country"] == "India"

df_3 = df[df_filter_3 & df_filter_3a]

df_3.shape[0]

193

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [60]:
# primero definimos una lista con los valores que queremos filtrar
lista_valores_4 = ['TV-14', 'R']

# aplicamos el método 'isin()' pasando la lista
df_clasificacion_4 = df[df["rating"].isin(lista_valores_4)]
df_clasificacion_4.shape[0]

2959

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [59]:
# primero definimos una lista con los valores que queremos filtrar
lista_valores_5 = ['Christopher Nolan', 'Martin Scorsese']

# aplicamos el método 'isin()' pasando la lista
df_clasificacion_5 = df[df["director"].isin(lista_valores_5)]

df_clasificacion_5A = df_clasificacion_5[df_clasificacion_5["director"] == 'Christopher Nolan'].reset_index()

df_clasificacion_5B = df_clasificacion_5[df_clasificacion_5["director"] == 'Martin Scorsese'].reset_index()

print(f"Peliculas de Christopher Nolan: {df_clasificacion_5A.shape[0]}")

print(f"Peliculas de Martin Scorsese: {df_clasificacion_5B.shape[0]}")

Peliculas de Christopher Nolan: 1
Peliculas de Martin Scorsese: 12

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [87]:
lista_valores_6 = ['United States', 'United Kingdom', 'Canada']

df_clasificacion_6 = df[df["country"].isin(lista_valores_6)]

print(df_clasificacion_6.shape[0])
print(df_clasificacion_6["Language"].unique())

patron_regex = "^.*/.*$"

df_research = df_clasificacion_6[df_clasificacion_6["Language"].str.contains(patron_regex, regex = True, na = False, case = False)]

print(df_research["Language"].unique())
print(f"Peliculas con varios lenguajes: {df_research.shape[0]}")

3418
['English' nan 'English/Arabic' 'Spanish/English'
 'English/Taiwanese/Mandarin' 'French' 'Portuguese' 'Japanese' 'Spanish'
 'English/Spanish' 'English/Hindi' 'English/Japanese' 'English/Mandarin'
 'English/Russian' 'English/Akan']
['English/Arabic' 'Spanish/English' 'English/Taiwanese/Mandarin'
 'English/Spanish' 'English/Hindi' 'English/Japanese' 'English/Mandarin'
 'English/Russian' 'English/Akan']
Peliculas con varios lenguajes: 10

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [89]:
df_años_7 = df[df["release_year"].between(2015, 2020, inclusive = "both" )]
df_años_7.shape[0]

5624

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [104]:
df_puntuacion_8 = df[df["IMDB Score"].between(6.5, 8.0, inclusive = "both" )]
filtro_8 = df_puntuacion_8["duration"].notnull()
df_result = df_puntuacion_8[filtro_8]
df_result.shape[0]

131

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [105]:
lista_valores_9 = ['90 min', '150 min', 'Canada']

df_clasificacion_9 = df[df["duration"].isin(lista_valores_9)]

print(df_clasificacion_9.shape[0])
print(df_clasificacion_9["duration"].unique())

169
['90 min' '150 min']

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [133]:
se_10 = df["title"].str.contains("Love")
se_10_1 = df["type"].str.contains("TV Show")
df_10 = df[se_10 & se_10_1]
df_10.shape[0]

70

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [151]:
se_11 = df["director"].str.contains(" Johnson$",na=False, regex=True)

df_11 = df[se_11]
df_11.shape[0]

22

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [179]:
se_12 = df["cast"].str.contains("Mike Tyson", na=False)
se_12_1 = df["Genre"].str.contains("Documentaries", na=False)

df_12 = df[se_12 & se_12_1]
df_12

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
137,NaN,NaN,NaN,NaN,NaN,NaN,s138,Movie,Crocodile Dundee in Los Angeles,Simon Wincer,"Paul Hogan, Linda Kozlowski, Jere Burns, Jonat...","Australia, United States","September 1, 2021",2001,PG,NaN,"Action & Adventure, Comedies","When Mick ""Crocodile"" Dundee and his family la..."
5841,NaN,NaN,NaN,NaN,NaN,NaN,s5842,Movie,Ip Man 3,Wilson Yip,"Donnie Yen, Zhang Jin, Lynn Hung, Patrick Tam,...","China, Hong Kong","June 18, 2016",2015,PG-13,NaN,"Action & Adventure, Dramas, International Movies",Martial arts master Ip springs into action whe...
6470,NaN,NaN,NaN,NaN,NaN,NaN,s6471,Movie,China Salesman,Tan Bing,"Li Dong Xue, Mike Tyson, Steven Seagal, Janick...",China,"September 24, 2018",2017,TV-MA,111 min,"Action & Adventure, International Movies",A Chinese engineer travels to a war-torn Afric...
7191,NaN,NaN,NaN,NaN,NaN,NaN,s7192,Movie,Kickboxer: Retaliation,Dimitri Logothetis,"Alain Moussi, Jean-Claude Van Damme, Mike Tyso...",United States,"April 26, 2018",2017,R,110 min,Action & Adventure,Sloan's vow to never return to Thailand is cut...
8651,NaN,NaN,NaN,NaN,NaN,NaN,s8652,Movie,Tyson,James Toback,"Mike Tyson, Trevor Berbick","United States, France","March 1, 2019",2008,R,90 min,"Documentaries, Sports Movies","In this surprisingly emotional documentary, he..."

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [162]:
columnas = ['title', 'country', 'release_year']

df[columnas]

                      title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [167]:
df.filter(like="date")
df["type"].unique()

array(['Movie', 'TV Show'], dtype=object)

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.