<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

In [9]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# antes de empezar vamos a leer los datos
df = pd.read_csv("datos/netflix_titles_originales_merge.csv", index_col=0)
df.head(1)

,Title,Genre,Premiere,Runtime,IMDB Score,Language,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [14]:
df.groupby("type")["title"].count().reset_index()

      type  title
0    Movie   6131
1  TV Show   2676

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

Hay datos que no tienen sentido en la columna rating. Tiempos de duracion, con lo cual nos desvirtua el resultado, habria que avergiar, contrastar los tipos de rating que hay para asegurarnos los datos.
si no son muchos los que faltan, se podria rellenar a mano, si no hay que pensar en automatizar el rellenado de ese campo.

In [16]:
df.groupby("rating")["IMDB Score"].mean().reset_index()

      rating  IMDB Score
0     66 min         NaN
1     74 min         NaN
2     84 min         NaN
3          G    6.500000
4      NC-17         NaN
5         NR         NaN
6         PG    6.800000
7      PG-13    6.386957
8          R    6.495745
9      TV-14    6.177660
10      TV-G    6.156250
11     TV-MA    6.097638
12     TV-PG    6.308772
13      TV-Y    6.780000
14     TV-Y7    6.240000
15  TV-Y7-FV         NaN
16        UR         NaN

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [18]:
df.groupby("country")["title"].count().sort_values(ascending=False).reset_index()

                 country  title
0          United States   2818
1                  India    972
2         United Kingdom    419
3                  Japan    245
4            South Korea    199
..                   ...    ...
743      Australia, Iraq      1
744            Venezuela      1
745  Venezuela, Colombia      1
746         West Germany      1
747        , South Korea      1

[748 rows x 2 columns]

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [19]:
df.groupby("rating")["IMDB Score"].median().reset_index()

      rating  IMDB Score
0     66 min         NaN
1     74 min         NaN
2     84 min         NaN
3          G         6.5
4      NC-17         NaN
5         NR         NaN
6         PG         6.5
7      PG-13         6.5
8          R         6.6
9      TV-14         6.3
10      TV-G         5.9
11     TV-MA         6.2
12     TV-PG         6.4
13      TV-Y         7.1
14     TV-Y7         6.7
15  TV-Y7-FV         NaN
16        UR         NaN

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

#### Ejercicio 10. ¿Cuál es el promedio de duración de las películas agrupadas por país?

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?